In [ ]:
# default_exp df_basics

# Grundlagen von Sparks Dataframe

In [ ]:
#hide
# Autoreload funktioniert nicht bei XDebug
#%load_ext autoreload
#%autoreload 2

In [ ]:
#hide
from nbdev.showdoc import *

## Init Spark Context

In [ ]:
from udemy_spark.spark_core import *
spark = get_spark_session() # Session anlegen
spark # Ausgabe der wichtigsten Session Informationen

## Laden von Dummy Daten

In [ ]:
df = spark.read.json('people.json')

## Informationen von DF abfragen

In [ ]:
df.show()        # zeigt die Daten
df.printSchema() # zeigt das Schema
df.columns       # Attribut mit den Columnnames
df.describe()    # Beschreibung

## Laden von Daten
### JSON
#### typisiert lesen

In [ ]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]
final_struc = StructType(fields=data_schema)
df = spark.read.json('people.json', schema=final_struc)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Inhalt von DF anzeigen

In [ ]:
df.head(2) # liefert eine Liste mit Row-Elementen

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [ ]:
df.show(2) # zeigt 2 Zeilen -> df.show() zeigt alles

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
+----+-------+
only showing top 2 rows

### Zugriff auf Kolonne

In [ ]:
print(df['age'])
print(type(df['age']))

Column<b'age'>
<class 'pyspark.sql.column.Column'>

In [ ]:
df.select('age')#.show() -> df.select -> returns a dataframe, not just a  column

DataFrame[age: int, name: string]

In [ ]:
df.select(['age','name']) #.show()

DataFrame[age: int, name: string]

## Manipulation von DF

### Neue Kolonnen erzeugen

In [ ]:
df.withColumn('newage', df['age']).show()   # erzeugt ein neues DF mit einer neue Spalte basierend auf 'age'
df.withColumn('newage', df['age']*2).show()   # erzeugt ein neues DF mit einer neue Spalte basierend auf 'age'
df.withColumnRenamed('age','newage').show() # erzeugt neues DF mit umbenannter Spalte

## SQL verwenden

In [ ]:
# Registriere das Datenframe als vor√ºbergehende SQL-Ansicht
df.createOrReplaceTempView("people")

In [ ]:
sql_results = spark.sql("SELECT * FROM people") # sql_results ist ein Dataframe
sql_results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+